{% extends "base.html" %}
{% block content %}
    <div class="jumbotron masthead">
        <div class="container">
            <h1>起航处</h1>
            <h2>这是起航点。</h2>
            <p class="masthead-button-links">
                <a class="btn btn-lg btn-primary btn-shadow" href="#" target="_blank" role="button">暴力起航，冲向大海！</a>
            </p>
            <ul class="masthead-links">
                <li>
                    <a href="#" target="_blank" role="button">跟我一起扬帆吧！</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}