{% extends 'base.html' %}
{% load static %}

<!------------------------------------- content ----------------------------------------->

{% block main_banner %}
    <div class="content">
        <header>
            <h1>I am Raymon</h1>
            <p>A man who wants to change the world with his keyboard</p>
        </header>
    </div>
    <span class="image object">
        <img src="{% static 'images/pic10.jpg' %}" alt=""/>
    </span>
{% endblock %}

{% block main_content %}
    <header class="major">
        <h2><a href="{% url 'cms:article_list' 0 %}">文章列表</a></h2>
    </header>
    {% for article in article_list %}
        <div class="title-list" style="padding:0.5em 1em 1em 1em">
            <div class="article-content" style="border-bottom: 1px dashed #ccc">
                <span class="category-name">{{ article.category.name }}</span>
                <a href="{% url 'cms:article_detail' pk=article.id %}" class="article-name">{{ article.title }}</a>
                <span class="follow-desc">{{ article.create_time }} 阅读 {{ article.visit_times }} 评论 {{ article.comment_count }} 喜欢 {{ article.like_times }}</span>
            </div>
            <div>
                <p style="font-size: 1rem;margin-top:0.6rem;margin-bottom: 1em">
                    摘要：{{ article.summary }}
                    <a href="{% url 'cms:article_detail' pk=article.id %}" style="color: #a99999;">阅读全文>></a>
                </p>
            </div>

        </div>
        <div style="height: 1em;"></div>
    {% endfor %}

    <div align="center">
        <a href="{% url 'cms:article_list' 0 %}" class="button-main-css">更多内容>>></a>
    </div>
{% endblock %}

{% block footer %}
    <hr>
    <!-- Footer -->
    <div class="text-center">
        <p class="copyright small">&copy; 2017 gengleiming.com 版权所有
            <a href="http://www.miitbeian.gov.cn/">粤ICP备16104888号-1</a>
        </p>
    </div>

{% endblock %}