{% extends "root.html" %}
{% load static %}
{% block styles %}
    <!-- bootstrap样式放在最上面，以便于main.css重写样式 -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
{% endblock %}

{% block scripts %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Scripts -->
    <script src="{% static 'assets/js/skel.min.js' %}"></script>
    <script src="{% static 'assets/js/util.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
    <script src="{% static 'assets/js/main.js' %}"></script>
{% endblock %}

{% block body %}
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                {% block main_header %}
                    <header id="header">
                        <div class="a-main-css logo" style="height: 2em;">
                            <span style="position: absolute;bottom: 0.5em;">
                                <a href="{% url 'home' %}"> <strong>Raymon </strong> - 为了改变世界</a>
                            </span>
                        </div>
                        <ul class="icons" style="height: 2em;">
                            {% if request.user.is_authenticated %}
                                <li style="height: 2em;">
                                    <a href="{% url 'accounts:logout' %}" class="a-main-css" style="position: absolute; bottom: 0.5em;right: 0em;">Logout</a>
                                </li>
                                <li style="height: 2em;">
                                    <a href="{% url 'cms:manage' %}" class="a-main-css" style="position: absolute; bottom: 0.5em;right: 8em;">管理</a>
                                </li>
                                <li style="height: 2em;">
                                    <a href="{% url 'cms:article_create' %}" class="a-main-css" style="position: absolute; bottom: 0.5em;right: 12em;">写文章</a>
                                </li>

                            {% else %}
                                <li style="height: 2em;">
                                    <a href="{% url 'accounts:login' %}" class="a-main-css" style="position:absolute;bottom:0.5em;right:0em">Login</a>
                                </li>
                            {% endif %}

                            {#        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>#}
                            {#        <li><a href="#" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>#}
                            {#        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>#}
                            {#        <li><a href="#" class="icon fa-medium"><span class="label">Medium</span></a></li>#}
                            {#                                                        <li><a href="" class="button-main-css">登录</a></li>#}
                        </ul>

                    </header>
                    <div style="height: 4em"></div>
                {% endblock %}

                {% block main %}
                    <!-- Banner -->
                    <section id="banner">
                        {% block main_banner %}
                        {% endblock %}
                    </section>

                    <!-- Section -->
                    <section>
                        {% block main_stick %}
                        {% endblock %}
                    </section>

                    <!-- Section -->
                    <section>
                        {% block main_content %}
                        {% endblock %}
                    </section>
                    {% block footer %}

                    {% endblock %}
                {% endblock %}
            </div>
        </div>

        <!-- Sidebar -->
        {% include 'sidebar.html' %}

    </div>
{% endblock %}
