{% extends "base.html" %}
{% block title %}登陆界面{% endblock %}
{% block main %}
    <div class="container">
        <br>
        <form method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <label for="username" class="col-sm-4 control-label">用户名</label>
                <div class="col-sm-4">
                    <input type="text" class="input-main-css" id="username" name="username" placeholder="用户名">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 control-label">密码</label>
                <div class="col-sm-4">
                    <input type="password" class="input-main-css" id="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-4 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="button-main-css col-sm-12">登录</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
    {{ block.super }}
    <script>
        $(function () {
            $('.navbar').removeClass('navbar-fixed-top').removeClass('navbar-default').addClass('navbar-inverse');
        });
    </script>
{% endblock %}