<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/favicon.ico"/>
    <link rel="bookmark" href="../static/favicon.ico"/>
</head>
<title></title>
<body>
<form action="" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="请输入帐号" value="">
    <input type="password" name="password" placeholder="请输入密码">
    {% if form.errors %}
        <div style="color:red;font-size: 12px;">无法登录,请确认帐号和密码是否正确.</div>{% endif %}
    <button>登录</button>
</form>
</body>
</html>