body, button, input, select, textarea, h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft YaHei, '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}

/*.left1-side {*/
/*height: 100%;*/
/*position: fixed;*/
/*}*/

.left-side {
    height: 100%;
    border-right: 1px solid gray;
    position: fixed;
    background-color: #5bc0de;
}

.touxiang {
    margin-top: 100px;
    width: 80px
}

/*.article-group {*/
/*border: 2px solid #ffffff;*/
/*border-right: 1px solid gray;*/
/*}*/

/*.list-group-item.btn:hover {*/
/*color: orange;*/
/*background-color: #d9d9d9;*/
/*}*/

/*.list-group-item.btn.btn-active {*/
/*color: orange;*/
/*text-decoration: none;*/
/*background-color: #d9d9d9;*/
/*}*/

/*.article-group-active {*/
/*border: 1px solid gray;*/
/*!*border-bottom: 2px solid gray;*!*/
/*!*border-right: 1px solid gray;*!*/
/*color: orange;*/
/*background-color: gray;*/
/*}*/

.stat-table {
    width: 80%;
    margin-left: 10%;
}

.stat-table td {
    border-right: 1px solid #d9d9d9;
}

.carousel_text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1024px) {
    .left-side {
        height: auto;
        border-right: 0px;
        border-bottom: 1px solid #d9d9d9;
        position: relative;
    }

    .touxiang {
        margin-top: 0px;
        width: 80px
    }
}