{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div align="center">
        <h3>{{ article.title }}</h3>
    </div>
    <hr>
    <div>
        {{ article.content|safe }}
    </div>
    <hr>
    <div align="right">
        <a href="javascript:void(0);" class="button-main-css small" onclick="$.alert('developing ... ...')">评论</a>
        {#    </div>#}
        {#    <div align="right">#}
        <span style="margin-left: 3em">
            posted {{ article.create_time }} 阅读 {{ article.visit_times }} 评论 {{ article.comment_count }}
        </span>
    </div>

    <!-- 赞 -->
    <div style="display: none">
        <button {% if disabled %}
            disabled
        {% endif %} >赞
        </button>

    </div>

    <div style="height: 10em"></div>
{% endblock %}