{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div align="center">
        <h3>{{ article.title }}</h3>
    </div>
    <hr>
    <div>
        {{ article.content|safe }}
    </div>
    <hr>
    <div align="right">
        <a id="upvote" href="javascript:void(0);" class="button-main-css small"
           onclick="upvote({{ article.pk }})">赞|{{ article.like_times }}</a>
        {#    </div>#}
        {#    <div align="right">#}
        <span style="margin-left: 3em">
            posted {{ article.create_time }} 阅读 {{ article.visit_times }}
        </span>
    </div>

    <div style="height: 10em"></div>
{% endblock %}

{% block scripts %}
    <script>
    function upvote(pk) {
        $.ajax({
            type: "post",
            url: "{% url 'cms:article_upvote' %}",
            data: {pk: pk},
            success: function (result) {
                if(result === -1) {
                    $.alert("请不要重复点赞");
                    return
                }
                $("#upvote").text("赞|" + result);
            }

        })
    }
    </script>

{% endblock %}