{% extends 'base.html' %}
{% load static %}

{% block main %}
    <br>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <input type="text" class="input-main-css" id="id_name" name="name" required>
            </div>
            <div>
                <button type="button" class="button-main-css" id="save">添加分类</button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th width="50%">名称</th>
            <th width="50%">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for category in category_list %}
            <tr>
                <td>{{ category.name }}</td>
                <td>
                    <a href="a-main-css">修改</a>
                    <a href="a-main-css">删除</a>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'gengleiming/js/bootstrap-confirm.js' %}"></script>
    <script type="text/javascript">
        $('#save').click(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'cms:category_create' %}",
                data: {
                    "name": $("#id_name").val(),
                    "csrfmiddlewaretoken":$("[name=csrfmiddlewaretoken]").val(),
                },
                success: function (response) {
                    if (response.ret == 0) {
                        // 成功
                        $.alert("success");
                    } else {
                        // 失败
                        $.alert(response.error_msg);
                    }
                }
            })

        })

    </script>
{% endblock %}