{% extends 'base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
{% endblock %}

{% block main %}
    <br>
    <form class="form-horizontal" role="form" action="{% url 'cms:write' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="文章标题" id="id_title" name="title">
                <span class="input-group-btn">
                    <button class="btn btn-danger" type="submit"><i class="glyphicon glyphicon-share-alt"></i> 发布文章</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group">
                    <select name="category" id="id_category" class="form-control" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" title="增加分类" data-toggle="modal"
                                data-target="#create_category"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="id_keyword_add" name="keyword_add"
                           placeholder="请加入关键字，以逗号分隔，最多不超过十个">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#keyword_list">
                            选择已有关键字
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_div">
            <p>请开始你的表演</p>
{#                <textarea class="form-control" style="height: 1000px" id="id_content" name="content" required>#}
{#                </textarea>#}
        </div>
{#        <div class="form-group">#}
{#            <button type="submit" class="btn btn-primary form-control">提交</button>#}
{#        </div>#}
    </form>

    <!-- model -->
    <div class="modal fade" id="create_category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">增加分类</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <input type="text" class="form-control" id="category_name" name="category_name"
                               placeholder="输入新分类">
                    </div>
                    <div>
                        <textarea style="resize:none" name="" id="category_description" name="category_description"
                                  cols="30" rows="10"
                                  class="form-control"
                                  placeholder="请输入描述"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="category_add">增加</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="keyword_list" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择关键字</h4>
                </div>
                <div class="modal-body">
                    {% for keyword in keywords %}
                        <input type="radio" name="{{ keyword }}" id="{{ keyword }}" value="{{ keyword }}">
                        <label for="{{ keyword }}">{{ keyword }} </label>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" id="add_keywords_tolist">增加</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'wangEdit/js/wangEditor.min.js' %}"></script>
    <script type="text/javascript">
        var editor = new window.wangEditor('.content_div');
        // 自定义菜单配置
        editor.customConfig.menus = [
            'head',  // 标题
            'bold',  // 粗体
            'italic',  // 斜体
            'underline',  // 下划线
            'strikeThrough',  // 删除线
            'foreColor',  // 文字颜色
            'backColor',  // 背景颜色
            'link',  // 插入链接
            'list',  // 列表
            'justify',  // 对齐方式
            'quote',  // 引用
            'emoticon',  // 表情
            'image',  // 插入图片
            'table',  // 表格
{#            'video',  // 插入视频#}
            'code',  // 插入代码
            'undo',  // 撤销
            'redo'  // 重复
        ];
        editor.create();

{#        $("#add_keywords_tolist").click(function () {#}
{#            var str = $("#id_keyword_add").val() == '' ? '' : ',';#}
{#            $("#keyword_list .modal-body input:checked").each(function () {#}
{#                str = str + $(this).val() + ','#}
{#            });#}
{#            str = str.slice(0, -1);#}
{#            $("#id_keyword_add").val($("#id_keyword_add").val() + str);#}
{#            $("#keyword_list").modal('hide');#}
{#            $("#keyword_list .modal-body input").prop("checked", false);#}
{#        });#}
{##}
{#        $('#category_add').click(function () {#}
{#            var category_name = $("#category_name").val();#}
{#            var category_description = $("#category_description").val();#}
{#            $.ajax({#}
{#                type: "POST",#}
{#                url: "{% url 'cms:category-create' %}",#}
{#                data: {#}
{#                    "name": category_name,#}
{#                    "description": category_description,#}
{#                    "csrfmiddlewaretoken": $.cookie('csrftoken'),#}
{#                },#}
{#                success: function (response) {#}
{#                    $('#create_category').modal("hide");#}
{#                    $.confirm({"title": "提示", "message": response.message}, function(){#}
{#                        if(response.message == "添加成功"){#}
{#                            $('#id_category').append('<option value="' + response.id + '" selected>' + response.name + '</option>');#}
{#                        }#}
{#                    });#}
{##}
{#                }#}
{#            });#}
{#        });#}
    </script>
{% endblock %}