{% extends 'cms/base.html' %}
{% load static %}
{% block right_content %}
    <br>
    <h2>
        <div class="row">
            <div style="color: #dd4814" class="col-md-6">
                <b> 代码之路</b>
            </div>
            <div class="col-lg-3 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="搜索文章">
                    <span class="input-group-btn">
                        <button class="btn btn-sm btn-warning" type="button">搜索</button>
                    </span>
                </div>
            </div>
        </div>
        <hr>
    </h2>
    <div class="carousel slide" id="carousel-668053">
        <ol class="carousel-indicators">
            <li data-slide-to="0" data-target="#carousel-668053">
            </li>
            <li data-slide-to="1" data-target="#carousel-668053" class="active">
            </li>
            <li data-slide-to="2" data-target="#carousel-668053">
            </li>
        </ol>

        <div class="carousel-inner">
            <div class="item active">
                <img alt="Carousel Bootstrap First"
                     src="{% static 'cms/coding/img/coding_title1.jpg' %}" width="100%" height="100%"/>
                <div class="carousel-caption carousel_text">
                    <h3>
                        First Thumbnail label
                    </h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                        porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a
                            href="" class="label label-warning"> 阅读全文 >></a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img alt="Carousel Bootstrap Second"
                     src="{% static 'cms/coding/img/coding_title2.jpg' %}" width="100%" height="100%"/>
                <div class="carousel-caption carousel_text">
                    <h3>
                        Second Thumbnail label
                    </h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                        porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a
                            href="" class="label label-warning"> 阅读全文 >></a>
                    </p>
                </div>
            </div>
            <div class="item">
                <img alt="Carousel Bootstrap Third"
                     src="{% static 'cms/coding/img/coding_title3.jpg' %}" width="100%" height="100%"/>
                <div class="carousel-caption carousel_text">
                    <h3>
                        Third Thumbnail label
                    </h3>
                    <p>
                        Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                        porta
                        gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit. <a
                            href="" class="label label-warning"> 阅读全文 >></a>
                    </p>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#carousel-668053" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control"
                                                                        href="#carousel-668053"
                                                                        data-slide="next"><span
            class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <br>
    <br>
    <div>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
        <span class="label label-default">标签</span>
    </div>
    <br>
    <div class="form-horizontal"><button type="button" class="btn btn-warning">最新文章</button> <button type="button" class="btn btn-warning">最热文章</button></div>
    <hr>
    <div>
    {% for content in content_list %}
        {{ content.title }}
        {{ content.content|safe }}
    {% endfor %}

        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>
        <p>1</p>


        <ul class="pagination">
            <li>
                <a href="#">Prev</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">Next</a>
            </li>
        </ul>
    </div>
{% endblock %}
