{% extends 'cms/base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'wangEdit/css/wangEditor.min.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'wangEdit/js/wangEditor.min.js' %}"></script>
    <script type="text/javascript">
{#        $('body').attr("style", "overflow:scroll;overflow-y:hidden;overflow-x:hidden");#}
        var editor = new wangEditor('id_content');
        editor.create();
    </script>
{% endblock %}

{% block right_content %}
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <div class="">
                <input style="border: white;height: 50px;" type="text" class="form-control" id="id_title" name="title" placeholder="title">
            </div>
        </div>
        <div class="form-group">
            <div class="">
                <textarea style="height: 600px;" class="form-control" id="id_content" name="content" placeholder="..." style="">
                </textarea>
            </div>
        </div>

{#        <div class="form-group">#}
{#            <div class="col-sm-offset-2 col-sm-10">#}
{#                <button type="submit" class="btn btn-default">提交</button>#}
{#            </div>#}
{#        </div>#}
    </form>
{% endblock %}