{% extends 'cms/base.html' %}
{% load static %}
{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'wangEdit/css/wangEditor.min.css' %}">
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'wangEdit/js/wangEditor.min.js' %}"></script>
    <script type="text/javascript">
        {#        $('body').attr("style", "overflow:scroll;overflow-y:hidden;overflow-x:hidden");#}
        var editor = new wangEditor('id_content');
        editor.config.menuFixed = false;
        editor.create();
        // 关闭菜单栏fixed

    </script>
{% endblock %}

{% block right_content %}
    <form class="form-horizontal" role="form" action="{% url 'cms:coding-write' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input style="border-top: white;border-left: white;border-right: white;height: 50px;" type="text"
                   class="form-control" id="id_title" name="title"
                   placeholder="title" required>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <div class="input-group">
                    <select name="category" id="id_category" class="form-control" required>
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" title="增加分类"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" id="id_keyword_add" name="keyword_add"
                           placeholder="请加入关键字，以逗号分隔">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default">
                            选择已有关键字
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
                <textarea class="form-control" style="height: 1000px" id="id_content" name="content" required>
                </textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control">提交</button>
        </div>
    </form>
{% endblock %}